body {
    background-color: rgb(255, 226, 226);
}
button:hover {
    background-color: pink;
}
.topcontainer {
     display: flex;
     background: paleturquoise;
     padding: 24px;
     border: 4px  snow;
     gap: 8px;
     justify-content:space-between;
}
   
.singup{
    justify-content: end;
}
.topcontainer div{
    flex: 1;
}
.topcontainer button{
    cursor: pointer;
}

head {
    color: navajowhite;
    margin: auto;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    
}
.div1{ 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    text-align: center;
}
.buttonmain{
    display: flex;
    padding: 4px 8px;
    margin: 12px auto;
    background-color: rgb(250, 236, 240);
    transition-duration: 0.5s;
    cursor: pointer;
    }
.div1 img{
    width: 25%;
}
