body{
    font-family: "Playfair Display", serif;
}
.navbarsExa{
    background-color:#6376a3;
}
span{
    color: #6376a3;
}
.gradient-background{
    background-image: url(images/Better-call-saul-episode-109-howard-fabian-sized-935.webp)
}
